<div id="poststuff">
    <div id="post-body" class="metabox-holder columns-1">
        <div id="post-body-content">
            <div class="meta-box-sortables ui-sortable">
                <div class="postbox">
                    <h2><span>{{ "page_integration_tab1_headline"|i18n }}</span></h2>
                    <div class="inside">
                        <div id="col-container">
                            {% for style in styles %}
                                <a href="?page=polyshapes_backend_imports&tab=tab2&style={{ style.id }}">
                                    <div class="ps-col-left">
                                        <div class="ps-screenshot-container">
                                            <img alt="{{ style.name }}" src="{{ polyshapes_style_screenshot_url(style.id) }}"/>
                                        </div>
                                    </div>
                                    <div class="ps-col-right">
                                        <div class="text">
                                            <span class="title">{{ style.name }}</span>
                                        </div>
                                    </div>
                                </a>
                                <div style="clear: both"></div>
                                <hr/>
                            {% endfor %}
                            <button class="button-primary" name="Login">{{ "page_integration_tab1_button"|i18n }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br class="clear">
</div>