<div class="wrap">
    <h2>{{ "page_auth_mainheadline"|i18n }}</h2>
    <div id="poststuff">
        <div class="metabox-holder columns-1">
            <div class="meta-box-sortables ui-sortable">
                <div class="postbox">
                    <h2 class="hndle"><span>{{ "page_auth_block1_headline"|i18n }}</span>
                    </h2>
                    <div class="inside">
                        <p>
                            {{ "page_auth_block1_text"|i18n }}
                            <button class="button-primary" name="Login">{{ "page_auth_block1_button"|i18n }}</button>
                        </p>
                        <form action="{{ action_url }}" method="POST">
                            <input type="hidden" name="action" value="polyshapes_login">

                            <br/><br/>
                            <label for="polyshapes_login_email">{{ "page_auth_block1_email_label"|i18n }}</label>
                            <input required type="text" id="polyshapes_login_email" name="email" value=""/>
                            <br/><br/>
                            <label for="polyshapes_login_password">{{ "page_auth_block1_password_label"|i18n }}</label>
                            <input required type="text" id="polyshapes_login_password" name="password" value=""/>
                            <br/><br/>
                            <input class="button-primary" type="submit" name="submit"
                                   value="{{ "page_auth_block1_submit_label"|i18n }}"/>

                        </form>
                    </div>
                </div>
                <div class="postbox">
                    <h2 class="hndle"><span>{{ "page_auth_block2_headline"|i18n }}</span>
                    </h2>
                    <div class="inside">
                        <p>
                            <img src="{{ "page_auth_block2_image1"|i18n }}"><br/>
                            {{ "page_auth_block2_imagetext1"|i18n }}
                            <br/>
                            <img src="{{ "page_auth_block2_image2"|i18n }}"><br/>
                            {{ "page_auth_block2_imagetext2"|i18n }}
                            <button class="button-primary" name="Login">{{ "page_auth_block2_button"|i18n }}</button>

                        </p>
                    </div>
                </div>
                <div class="postbox">
                    <h2 class="hndle"><span>{{ "page_auth_block3_headline"|i18n }}</span>
                    </h2>
                    <div class="inside">
                        <p>
                            {{ "page_auth_block3_text"|i18n }}
                            <br/>
                            <button class="button-primary" name="Login">{{ "page_auth_block3_button"|i18n }}</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br class="clear">
    </div>
</div>


