<div class="wrap">
    <div class="icon32"></div>
    <h2>{{ "page_settings_mainheadline"|i18n }}</h2>
    <h3>{{ "page_settings_headline"|i18n }} "Max Mustermann"</h3>
    <div id="polyshapes_auth">
        <div class="metabox-holder columns-1">
            <div class="meta-box-sortables ui-sortable">
                <div class="postbox">
                    <button type="button" class="handlediv" aria-expanded="true">
                        <span class="screen-reader-text">{{ "global_nav_toggle"|i18n }}</span>
                        <span class="toggle-indicator" aria-hidden="true"></span>
                    </button>
                    <h2 class="hndle"><span>{{ "page_settings_block1_headline"|i18n }}</span>
                    </h2>
                    <div class="inside">
                        <p>
                            {{ "page_settings_block1_text"|i18n }}
                        </p>
                    </div>
                </div>
                <div class="postbox">
                    <button type="button" class="handlediv" aria-expanded="true">
                        <span class="screen-reader-text">{{ "global_nav_toggle"|i18n }}</span>
                        <span class="toggle-indicator" aria-hidden="true"></span>
                    </button>
                    <h2 class="hndle"><span>{{ "page_settings_block2_headline"|i18n }}</span>
                    </h2>
                    <div class="inside">
                        <p>
                            {{ "page_settings_block2_text"|i18n }}
                            <button class="button-primary"
                                    name="Login">{{ "page_settings_block2_button"|i18n }}</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
