<div class="wrap">
    <div class="icon32"></div>
    <h2>{{ "page_style_mainheadline"|i18n }}</h2>
    <div id="poststuff">
        <div id="post-body" class="metabox-holder columns-2">
            <div id="post-body-content">
                <div class="meta-box-sortables ui-sortable">
                    <form method="POST" action="{{ action_url }}">
                        <div class="postbox">
                            <h2 class="hndle"><span>{{ "page_style_block1_headline"|i18n }}</span>
                            </h2>
                            <div class="inside">

                                <input type="hidden" name="action" value="polyshapes_set_style_options"/>
                                <input type="hidden" name="style" value="{{ style.id }}"/>

                                {% include 'admin/_partials/integration_formfields.twig' %}

                            </div>
                        </div>
                        <div class="postbox">
                            <h2 class="hndle"><span>{{ "page_style_block2_headline"|i18n }}</span>
                            </h2>
                            <div class="inside">

                                <p>
                                    <input name="mobile" id="mobile"
                                           type="checkbox"{% if styleConfig.mobile %} checked="checked"{% endif %}>
                                    <label for="element_replacement">{{ "page_style_block2_text"|i18n }}</label>
                                </p>
                                <p class="submit">
                                    <input name="Submit" type="submit" class="button-primary" value="Save Changes">
                                </p>
                            </div>
                        </div>
                    </form>
                    <div class="postbox">
                        <h2 class="hndle"><span>{{ "page_style_block3_headline"|i18n }}</span>
                        </h2>
                        <div class="inside">
                            <p>
                            <div class="shortcode">
                                {{ "page_style_block3_text"|i18n }}
                                <pre>[polyshape id='{{ style.id }}']</pre>
                            </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="postbox-container-1" class="postbox-container">
                <div class="meta-box-sortables">
                    <div class="postbox">
                        <h2 class="hndle"><span>{{ style.title }}</span></h2>
                        <div class="inside">
                            <img src="{{ polyshapes_style_screenshot_url(style.id) }}" style="width:100%;"/>
                            <p>{{ "page_style_sidebar1_text"|i18n }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





