<p>
    {{ "page_integration_tab2_location_headline"|i18n }}<br/>
    <input type="checkbox" name="polyshapes_integration[header]" id="polyshapes_integration_header"{{ (styleConfig.integrations.header) ? ' checked="checked"' : '' }}/>
    <label for="polyshapes_integration_header">{{ "page_integration_tab2_location_header"|i18n }}</label>
    <input type="checkbox" name="polyshapes_integration[hero]" id="polyshapes_integration_hero"{{ (styleConfig.integrations.hero) ? ' checked="checked"' : '' }}/>
    <label for="polyshapes_integration_hero">{{ "page_integration_tab2_location_hero"|i18n }}</label>
    <input type="checkbox" name="polyshapes_integration[background]" id="polyshapes_integration_background"{{ (styleConfig.integrations.background) ? ' checked="checked"' : '' }}/>
    <label for="polyshapes_integration_background">{{ "page_integration_tab2_location_background"|i18n }}</label>
    <input type="checkbox" name="polyshapes_integration[footer]" id="polyshapes_integration_footer"{{ (styleConfig.integrations.footer) ? ' checked="checked"' : '' }}/>
    <label for="polyshapes_integration_footer">{{ "page_integration_tab2_location_footer"|i18n }}</label>
    <input type="checkbox" name="polyshapes_integration[custom]" id="polyshapes_integration_custom"{{ (styleConfig.integrations.custom) ? ' checked="checked"' : '' }}/>
    <label for="polyshapes_integration_custom">{{ "page_integration_tab2_location_custom_field"|i18n }}</label>
</p>
<p>
    {{ "page_integration_tab2_pagetype_headline"|i18n }}<br/>
    <input type="checkbox" name="polyshapes_integration_pagetype[all]" id="polyshapes_integration_pagetype_all"{{ (styleConfig.page_types.all) ? ' checked="checked"' : '' }}/>
    <label for="polyshapes_integration_pagetype_all">{{ "page_integration_tab2_pagetype_all"|i18n }}</label>

    <input type="checkbox" name="polyshapes_integration_pagetype[home]" id="polyshapes_integration_pagetype_home"{{ (styleConfig.page_types.home) ? ' checked="checked"' : '' }}/>
    <label for="polyshapes_integration_pagetype_home">{{ "page_integration_tab2_pagetype_home"|i18n }}</label>

    <input type="checkbox" name="polyshapes_integration_pagetype[post]" id="polyshapes_integration_pagetype_post"{{ (styleConfig.page_types.post) ? ' checked="checked"' : '' }}/>
    <label for="polyshapes_integration_pagetype_post">{{ "page_integration_tab2_pagetype_post"|i18n }}</label>

    <input type="checkbox" name="polyshapes_integration_pagetype[page]" id="polyshapes_integration_pagetype_page"{{ (styleConfig.page_types.page) ? ' checked="checked"' : '' }}/>
    <label for="polyshapes_integration_pagetype_page">{{ "page_integration_tab2_pagetype_page"|i18n }}</label>

    {% if pageTemplates is not empty %}
    <input type="checkbox" name="polyshapes_integration_pagetype[custom]" id="polyshapes_integration_pagetype_custom"{{ (styleConfig.page_types.custom) ? ' checked="checked"' : '' }}/>
    <label for="polyshapes_integration_pagetype_custom">{{ "page_integration_tab2_pagetype_selected_field"|i18n }}</label>
    <select id="polyshapes_integration_pagetype_customtypes" name="polyshapes_integration_pagetype[customtypes]" multiple="multiple">
        <option value="hund">{{ "page_integration_tab2_pagetype_selected_label"|i18n }}</option>
        {% for pageTemplate in pageTemplates %}
            {{ dump(pageTemplate) }}
            <option value="katze">{{ "page_integration_tab2_pagetype_selected_label"|i18n }}</option>
        {% endfor %}
    </select>
    {% endif %}
</p>